.colors {
    background: url(./img/colors.png) center center/cover no-repeat;
    position: relative;
}

.colors__title {
    color: white;
    position: absolute;
    top: rem(115px);
    left: rem(84px);

    @include tablets {
        top: rem(91px);
        left: rem(40px);
    }

    @include phones {
        top: rem(76px);
        left: rem(10px);
        font-size: rem(32px);
    }
}

.colors__list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.colors__item {
    display: flex;
    font-family: $fontAlegreya;
    color: #FFFFFF;

    &--gray {
        background: #999999;
    }

    &--black {
        background: #151515;
    }

    &--red {
        background: #E01F3C;
    }

    &.active{
        @include phones{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }
}

.colors__item-title {
    position: relative;
    min-width: rem(100px);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    @include phones{
        width: rem(90px);
    }
}

.colors__item-text{
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: rem(36px);
    font-weight: 700;
    line-height: rem(43px);
    padding-top: rem(34px);
}

.colors__item-content {
    background: rgba(51, 53, 55, 0.9); 
    opacity: 0.95;
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;
}

.colors__item-container {
    padding: rem(40px) rem(73px) rem(45px) rem(26px);
}

.colors__item-close {
    position: absolute;
    top: rem(20px);
    right: rem(25px);
    border: none;
    background: transparent;
}

.colors__item-content-text {
    font-family: $fontAlegreya;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(24px);
}