.logo{
    height: rem(40px);
    width: rem(40px);
}

.logo__icon{
    width: rem(40px);
    height: rem(40px);
}

.logo__phone{
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(4px);
}